.qmake.stash
Makefile
*.o
libsimQHull.1.0.0.dylib
libsimQHull.1.0.dylib
libsimQHull.1.dylib
libsimQHull.dylib
libsimQHull.so
libsimQHull.so.1
libsimQHull.so.1.0
libsimQHull.so.1.0.0
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release
debug/
release/
*.pro.user
*.user
