.qmake.stash
Makefile
*.o
libsimExtQHull.1.0.0.dylib
libsimExtQHull.1.0.dylib
libsimExtQHull.1.dylib
libsimExtQHull.dylib
libsimExtQHull.so
libsimExtQHull.so.1
libsimExtQHull.so.1.0
libsimExtQHull.so.1.0.0
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release
debug/
release/
*.pro.user
*.user
